@use '@mixin/layout';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  > :first-of-type {
    display: flex;
    justify-content: end;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 8px 16px;

  &:hover {
    background-color: var(--base-grey-40);

    .user__remove {
      visibility: visible;
      opacity: 1;
    }
  }

  > div {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    align-items: center;
  }

  &__remove {
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;

    svg {
      width: 12px;
      aspect-ratio: 1;
    }
  }
}
