.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  &.gap {
    &_sm {
      gap: 16px;
    }
    &_md {
      gap: 24px;
    }
    &_lg {
      gap: 32px;
    }
  }
}

.content {
  flex: 1;

  position: relative;
  display: flex;
}

.slide {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  max-height: 100%;

  &.checked {
    position: static;
    z-index: 1;
    opacity: 1;
    flex: 1;
    overflow: visible;
  }
}
