:root {
  --bg-windows: #f9f9fb;

  --primary-100: #e57300;
  --primary-80: #f18c26;
  --primary-60: #f5a855;
  --primary-40: #f7c38a;
  --primary-20: #fbe1c4;
  --primary-10: #fdf0e1;
  --primary-5: #fef7f4;
  --secondary-100: #4b8a92;
  --secondary-80: #5ea3a8;
  --secondary-60: #7ebac0;
  --secondary-40: #a2d0d5;
  --secondary-20: #cfe7ea;
  --secondary-10: #eaf5f6;
  --tertiary-100: #4d4e52;
  --tertiary-80: #6b6d73;
  --tertiary-60: #8c8d93;
  --tertiary-40: #b0b1b5;
  --tertiary-20: #d8d9db;
  --tertiary-10: #f0f0f1;
  --success-100: #008f4a;
  --success-80: #26a764;
  --success-60: #53bf8b;
  --success-40: #87d8b2;
  --success-20: #c0ebdb;
  --success-10: #e7f8f1;
  --warning-100: #fdb900;
  --warning-80: #fcca34;
  --warning-60: #fcd264;
  --warning-40: #fedd95;
  --warning-20: #fef2cb;
  --warning-10: #fff7e5;
  --blue-gray-100: #98b1c9;
  --blue-gray-80: #afc1d3;
  --blue-gray-60: #c5d2de;
  --blue-gray-40: #dae3e9;
  --blue-gray-20: #f0f3f6;
  --blue-gray-10: #f8fafc;
  --base-grey-100: #d4d8df;
  --base-grey-90: #d8dce2;
  --base-grey-80: #dde1e7;
  --base-grey-70: #e2e6eb;
  --base-grey-60: #e7eaf0;
  --base-grey-50: #ebeef3;
  --base-grey-40: #f1f3f6;
  --base-grey-30: #f6f7f9;
  --base-grey-20: #fafbfc;
  --base-grey-10: #fdfdfd;
  --text-color-100: #111827;
  --text-color-80: #273444;
  --text-color-60: #475569;
  --text-color-40: #6b7280;
  --text-color-20: #9ca3af;
  --orange: #f97316;
  --white: #ffffff;
  --base-name-dark-red: rgba(255, 0, 0, 0.911);
  --base-name-red: rgba(255, 0, 0, 0.911);
}

[data-theme='dark'] {
  --bg-windows: #27263de3;

  --primary-100: #ff7800;
  --primary-80: #ff8a2d;
  --primary-60: #ffa85e;
  --primary-40: #ffc393;
  --primary-20: #ffe0c4;
  --primary-10: #fff0e5;
  --primary-5: #fff7f1;
  --secondary-100: #2d6771;
  --secondary-80: #3f7d87;
  --secondary-60: #5999a5;
  --secondary-40: #7db4be;
  --secondary-20: #aecfda;
  --secondary-10: #d5eef3;
  --tertiary-100: #393b3f;
  --tertiary-80: #52565b;
  --tertiary-60: #73777c;
  --tertiary-40: #9b9fa3;
  --tertiary-20: #c8cacc;
  --tertiary-10: #e8e9ea;
  --success-100: #007f3d;
  --success-80: #22955c;
  --success-60: #4eb383;
  --success-40: #7dc7aa;
  --success-20: #ade4cd;
  --success-10: #e1f7ec;
  --warning-100: #e0a800;
  --warning-80: #ebc234;
  --warning-60: #f4d464;
  --warning-40: #f9e695;
  --warning-20: #fcf2cb;
  --warning-10: #fdf7e5;
  --blue-gray-100: #7f98ad;
  --blue-gray-80: #97afc0;
  --blue-gray-60: #afc6d4;
  --blue-gray-40: #c8d8e3;
  --blue-gray-20: #e3ebf2;
  --blue-gray-10: #f2f7fa;
  --base-grey-100: #202328;
  --base-grey-90: #2a2f36;
  --base-grey-80: #333940;
  --base-grey-70: #3e454d;
  --base-grey-60: #4b525a;
  --base-grey-50: #5d646c;
  --base-grey-40: #71787f;
  --base-grey-30: #8b9299;
  --base-grey-20: #a6adb4;
  --base-grey-10: #c7ccd0;
  --text-color-100: #ffffff;
  --text-color-80: #f3f4f6;
  --text-color-60: #e5e7eb;
  --text-color-40: #d1d5db;
  --text-color-20: #9ca3af;
  --orange: #ff7c24;
  --white: #1a1d21;
  --base-name-dark-red: rgba(255, 0, 0, 0.911);
  --base-name-red: rgba(255, 0, 0, 0.911);
}
